body, #header{
    background: url('../images/background_image.jpg') repeat;
}

a {
    color:grey;
    text-decoration: none;
}
a:visited {
    color: #444;
}
li a.active {
    color: rgb(247, 151, 75);
}
a:active{
    color: rgb(247, 151, 75);
}
a:hover{
    color: grey;
}

#wrapper {
    max-width:1160px;
    background: #fff;
    margin:0 auto;
}

/**
  Main Menu Styling
**/
#main-menu {
    float:right;
    display: inline;
}

#main-menu ul.menu li{
    position: relative;
    float:left;
     display: inline;
    padding:  10px 20px;
}

#main-menu ul.menu a{
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

#main-menu ul.menu li:last-child{
    margin-right:0;
}

#main-menu ul.menu li:hover{
    cursor: pointer;
    color: grey;
}


#main-menu ul.menu li:hover ul{
    display: block;
}

#main-menu ul.menu li:hover > a{
    color: grey;
}

#main-menu ul.menu .expanded:hover{
    z-index: 100;
    padding-bottom:0;
    background: rgb(247, 151, 75);
    border-top-left-radius: 3px;
    border-top-right-radius:3px;
}
#main-menu ul.menu li:hover {
    /*background: rgba(247, 151, 75, 0.92);*/
    border-radius: 3px 3px 0 0;
}
ul.menu li.expanded ul.menu{
    background: rgb(247, 151, 75);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius:3px;
}
#main-menu ul.menu li.expanded ul.menu li:hover, #main-menu ul.menu li.expanded ul.menu li a:hover{
    background: none;
}

#main-menu ul.menu .expanded ul{
    display:none;
    position: absolute;
    float:left;
    width:100%;
    padding: 0;
    left:0;
}

#main-menu ul.menu li.expanded ul li a{
    color: #fff;
}
#main-menu ul.menu li.expanded ul li a:hover{
    color: grey;
}

/**
  End main-menu styling
**/

/**
  Aveda Header
**/
#aveda-header {
    background: #fff;
    width:100%;
    float:left;
}
#aveda-header p{
    float:left;
}
#aveda-header img{
    float:right;
}

/**
  End Aveda Header
**/

/**
  Services Grid
**/

.view-services-cta-view{
    
}

.view-services-cta-view .views-field-field-service-cta-image,
.view-services-cta-view .views-field-field-service-cta-image .field-content{
    max-height:289px;
}

.view-services-cta-view td{
    position: relative;
}

.view-services-cta-view td .field-content{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 1.5em;
}

.view-services-cta-view td .views-field-field-description{
    background: rgba(0,0,0,0.5);
    color: white;
    cursor: pointer;
    display: table;
    height: 290px;
    left: 0;
    position: absolute;
    top: 0;
    width: 290px;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}
.view-services-cta-view td .views-field-field-description:hover {
    opacity: 1;
}

/**
  End Services Grid
**/


/*#content{*/
    /*clear:both;*/
/*}*/