body, #header{
    background: url('../images/background_image.jpg') repeat;
}

a {
    color:grey;
    text-decoration: none;
}
a:visited {
    color: #444;
}
li a.active {
    color: rgb(247, 151, 75);
}
a:active{
    color: rgb(247, 151, 75);
}
a:hover{
    color: grey;
}

#wrapper {
    max-width:1160px;
    background: #fff;
    margin:0 auto;
}

/**
  Main Menu Styling
**/
#main-menu {
    float:right;
    display: inline;
}

#main-menu ul.menu li{
    position: relative;
    float:left;
     display: inline;
    padding:  10px 20px;
}

#main-menu ul.menu a{
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

#main-menu ul.menu li:last-child{
    margin-right:0;
}

#main-menu ul.menu li:hover{
    cursor: pointer;
    color: grey;
}


#main-menu ul.menu li:hover ul{
    display: block;
}

#main-menu ul.menu li:hover > a{
    color: grey;
}

#main-menu ul.menu .expanded:hover{
    z-index: 100;
    padding-bottom:0;
    background: rgb(247, 151, 75);
    border-top-left-radius: 3px;
    border-top-right-radius:3px;
}
#main-menu ul.menu li:hover {
    /*background: rgba(247, 151, 75, 0.92);*/
    border-radius: 3px 3px 0 0;
}
ul.menu li.expanded ul.menu{
    background: rgb(247, 151, 75);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius:3px;
}
#main-menu ul.menu li.expanded ul.menu li:hover, #main-menu ul.menu li.expanded ul.menu li a:hover{
    background: none;
}

#main-menu ul.menu .expanded ul{
    display:none;
    position: absolute;
    float:left;
    width:100%;
    padding: 0;
    left:0;
}

#main-menu ul.menu li.expanded ul li a{
    color: #fff;
}
#main-menu ul.menu li.expanded ul li a:hover{
    color: grey;
}

/**
  End main-menu styling
**/

/**
  Aveda Header
**/
#aveda-header {
    background: #fff;
    width:100%;
    float:left;
}
#aveda-header p{
    float:left;
}
#aveda-header img{
    float:right;
}

/**
  End Aveda Header
**/

/**
  Services Grid
**/

#services-grid {
    float:left;
}
#services-grid ul.top-row, #services-grid ul.bottom-row{
    display: inline-block;
    margin: 0;
    padding: 0;
    float:left;
    max-height:289px;
}

#services-grid ul.top-row, #services-grid ul.bottom-row{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#services-grid ul.top-row li, #services-grid ul.bottom-row li {
    display: inline-block;
    margin: 0;
    text-align: center;
    max-width:285px;
    max-height:289px;
    position: relative;
}

#services-grid span.service-description {
    background: rgba(247, 151, 75, 0.80);
    color: white;
    font-family: 'Courgette', cursive;
    font-size:1.4em;
    text-shadow: 1px 1px 1px rgb(92, 92, 92);
    cursor: pointer;
    display: table;
    height: 289px;
    left: 0;
    position: absolute;
    top: 0;
    width: 289px;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}

#services-grid ul li:hover span.service-description {
    opacity: 1;
    height:289px;
}
#services-grid span.service-description span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
/**
  End Services Grid
**/


#content{
    clear:both;
}